.deliver-section {
    padding: 140px 0;

    .title {
        margin-bottom: 60px;
    }

    .block {
        display: flex;
        justify-content: space-between;
    }

    .item {
        max-width: 340px;
    }

    .icon {
        margin-bottom: 40px;
        text-align: center;

        path,
        circle {
            transition: all 1.5s ease-in;
            stroke-dasharray: 500;
            stroke-dashoffset: 500;
        }

        &.show {
            path,
            circle {
                stroke-dashoffset: 0;
            }
        }
    }

    .item-title {
        margin-bottom: 8px;
        font: $medium 24px / normal $Montserrat;
    }

    .item-text {
        margin-bottom: 0;
    }
}
