#header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 40px 0;
    z-index: 10;
    transition: $anim_03;

    &.scroll {
        background-color: rgba(#04041f, 0.8);
        padding: 15px 0;
    }

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        @include media('<widescreen') {
            align-items: center;
        }
    }

    .logo {
        position: relative;
        display: block;
        max-width: max-content;

        svg {
            display: block;
        }
    }

    .logo-text-wrap {
        margin: 0;
        font: $semi-bold 24px / normal $Montserrat;
        text-transform: uppercase;
        letter-spacing: 1.1px;
        color: $white;
    }

    .logo-text {
        opacity: 0;
        animation: logoTextAnim 0.3s linear forwards 0.8s;
    }

    @keyframes logoTextAnim {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    $dotAnim: 1s forwards cubic-bezier(0.42, 0, 0.58, 1);

    .read-more-line {
        position: absolute;
        top: -40px;
        right: -7px;
        width: 4px;
        height: 60px;
    }

    .line {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 1px;
        height: 100%;

        &:after {
            content: '';
            width: 100%;
            height: 0;
            position: absolute;
            top: 0;
            left: 0;
            background-image: -webkit-linear-gradient(
                top,
                rgba(255, 255, 255, 0.1) 0%,
                rgba(255, 255, 255, 0.8) 100%
            );
            animation: lineLight $dotAnim;
        }
    }

    .dot {
        width: 4px;
        height: 4px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 0;
        animation: dotDown $dotAnim;

        &:after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.6);
            animation: dotExplotion $dotAnim;
        }
    }

    @keyframes dotDown {
        0% {
            transform: translate(-50%, -10px);
        }

        75% {
            transform: translate(-50%, 60px);
        }

        100% {
            transform: translate(-50%, 60px);
        }
    }

    @keyframes lineLight {
        0% {
            height: 0;
        }
        75% {
            height: 100%;
            opacity: 1;
        }
        100% {
            height: 100%;
            opacity: 0;
        }
    }

    @keyframes dotExplotion {
        0% {
            transform: scale(1);
        }

        74% {
            transform: scale(1);
        }

        75% {
            transform: scale(2);
        }

        80% {
            transform: scale(4);
            opacity: 0.7;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    .circle {
        position: absolute;
        top: 0;
        left: 32px;

        path {
            animation: logo-anim 0.7s linear 0.8s forwards;
            opacity: 0;
            stroke-dasharray: 35;
        }
    }

    @keyframes logo-anim {
        0% {
            opacity: 0;
            stroke-dashoffset: 35;
        }
        50% {
            opacity: 1;
            stroke-dashoffset: 35;
        }
        100% {
            opacity: 1;
            stroke-dashoffset: 0;
        }
    }

    .menu-wrap {
        display: flex;
        align-items: center;
        column-gap: 40px;
        row-gap: 0;

        @include media('>=widescreen') {
            opacity: 0;
            transform: translateY(-100px);
            animation: menuWrapAnim 1s 2s forwards;
        }

        @include media('<widescreen') {
            position: absolute;
            top: 0;
            right: -50%;
            height: 100vh;
            min-height: 100vh;
            width: 40%;
            flex-direction: column;
            padding: 100px 40px 40px 40px;
            background: rgba(255, 255, 255, 0);
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px);
            z-index: 1;
            transition: $anim_05;
            overflow: auto;
        }

        @include media('<tablet') {
            right: -70%;
            width: 70%;
        }

        @include media('<phone') {
            right: -100%;
            width: 100%;
            padding: 100px 14px;
        }

        .active & {
            right: 0;
        }
    }

    @keyframes menuWrapAnim {
        0% {
            opacity: 0;
            transform: translateY(-100px);
        }
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 0;
        list-style: none;
        padding: 0;
        margin: 0;

        @include media('<laptop') {
            column-gap: 25px;
        }

        @include media('<widescreen') {
            flex-direction: column;
            width: 100%;
        }
    }

    .menu-item {
        @include media('<widescreen') {
            padding: 16px 0 20px 0;
            border-bottom: 1px solid rgba($white, 0.3);
        }
    }

    .link {
        position: relative;
        font: $regular 16px / normal $Montserrat;
        color: $white;

        @include media('<laptop') {
            font-size: 14px;
        }

        &::after {
            content: '';
            position: absolute;
            top: calc(100% + 4px);
            left: 0;
            height: 2px;
            width: 0;
            background: rgb(174, 20, 228);
            background: linear-gradient(
                90deg,
                rgba(174, 20, 228, 0) 0%,
                rgba(119, 86, 198, 1) 50%,
                rgba(85, 135, 235, 1) 100%
            );
            transition: $anim_03;
        }

        &::before {
            content: '';
            position: absolute;
            top: calc(100% + 2px);
            left: 0;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $blueEA;
            transition: $anim_03;
            opacity: 0;
        }

        &::before,
        &::after {
            @include media('<widescreen') {
                display: none;
            }
        }

        &:hover {
            &::after {
                width: 100%;
            }
            &::before {
                left: calc(100% - 6px);
                opacity: 1;
            }
        }
    }

    .search-box {
        display: flex;
        align-items: center;
        gap: 40px;

        @include media('<widescreen') {
            position: relative;
            justify-content: space-between;
            align-items: start;
            width: 100%;
            padding: 16px 0;
            border-bottom: 1px solid rgba($white, 0.3);
            margin-bottom: 22px;
        }
    }

    .search {
        background: none;
        border: none;
        stroke: $white;
        stroke-width: 3;
        transition: $anim_03;
        padding: 0;

        &:hover {
            stroke-width: 5;
        }

        svg {
            width: 18px;
        }
    }

    .search-file {
        position: fixed;
        top: -100%;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        max-width: 1000px;
        transition: $anim_05;
        z-index: 2;
        padding: 0 20px;

        @include media('<laptop') {
            max-width: 500px;
        }

        @include media('<phone') {
            padding: 0 14px;
        }

        &.active {
            top: 50%;
        }

        input {
            width: 100%;
            padding: 25px 40px;
            border-radius: 50px;
            border: none;
            font: $regular 16px/1.2 $Montserrat;
            background-color: rgba($white, 0.8);
            color: #04041f;

            @include media('<phone') {
                padding: 15px 10px;
            }

            &::placeholder {
                color: #04041f;
            }
        }
    }

    .main-btn {
        span {
            @include media('<widescreen') {
                padding: 9px 30px;
                font-size: 14px;
            }
        }
    }
}

.burger {
    display: none;
    position: relative;
    min-width: 30px;
    height: 40px;
    z-index: 1;
    border: none;
    outline: none;
    background: none;

    @include media('<widescreen') {
        display: block;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $white;
        border-radius: 10px;
        transition: $anim_07;
    }

    &::before {
        top: 13px;
    }

    &::after {
        bottom: 13px;
    }

    .active & {
        &::before {
            top: 18px;
            transform: rotate(-225deg);
        }

        &::after {
            bottom: 20px;
            transform: rotate(225deg);
        }
    }
}
