<section class="blog-section" id="blog">
    <div class="container">
      <div class="content">
        <div class="text-block">
          <h2 class="title anim"><span>Blog</span></h2>
          <p class="text anim">As a digital transformation consulting company, we share our experience to help.</p>
        </div>
        <div class="swiper blogSlider anim">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="card">
                <h3 class="card-title">Innovative Digital Solutions: Pioneering Future Technology Pioneering Future Technology Digital DigitalDigitalDigital</h3>
                <p class="card-des">SoundFusion: A groundbreaking musical initiative that fuses diverse genres for a unique listening experience. The project unites artists worldwide, crafting immersive tracks that listening experience. The project unites artists worldwide, crafting immersive tracks that</p>
                <div class="box">
                  <p class="date">MAY 16, 2024</p>
                  <a class="blog-btn" href="blog.html">
                    <span class="blog-btn-text">READ</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card">
                <h3 class="card-title">Innovative Digital Solutions: Pioneering Future Technology Pioneering Future Technology Digital DigitalDigitalDigital</h3>
                <p class="card-des">SoundFusion: A groundbreaking musical initiative that fuses diverse genres for a unique listening experience. The project unites artists worldwide, crafting immersive tracks that listening experience. The project unites artists worldwide, crafting immersive tracks that</p>
                <div class="box">
                  <p class="date">MAY 16, 2024</p>
                  <a class="blog-btn" href="#">
                    <span class="blog-btn-text">READ</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card">
                <h3 class="card-title">Innovative Digital Solutions: Pioneering Future Technology Pioneering Future Technology Digital DigitalDigitalDigital</h3>
                <p class="card-des">SoundFusion: A groundbreaking musical initiative that fuses diverse genres for a unique listening experience. The project unites artists worldwide, crafting immersive tracks that listening experience. The project unites artists worldwide, crafting immersive tracks that</p>
                <div class="box">
                  <p class="date">MAY 16, 2024</p>
                  <a class="blog-btn" href="#">
                    <span class="blog-btn-text">READ</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card">
                <h3 class="card-title">Innovative Digital Solutions: Pioneering Future Technology Pioneering Future Technology Digital DigitalDigitalDigital</h3>
                <p class="card-des">SoundFusion: A groundbreaking musical initiative that fuses diverse genres for a unique listening experience. The project unites artists worldwide, crafting immersive tracks that listening experience. The project unites artists worldwide, crafting immersive tracks that</p>
                <div class="box">
                  <p class="date">MAY 16, 2024</p>
                  <a class="blog-btn" href="#">
                    <span class="blog-btn-text">READ</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card">
                <h3 class="card-title">Innovative Digital Solutions: Pioneering Future Technology Pioneering Future Technology Digital DigitalDigitalDigital</h3>
                <p class="card-des">SoundFusion: A groundbreaking musical initiative that fuses diverse genres for a unique listening experience. The project unites artists worldwide, crafting immersive tracks that listening experience. The project unites artists worldwide, crafting immersive tracks that</p>
                <div class="box">
                  <p class="date">MAY 16, 2024</p>
                  <a class="blog-btn" href="#">
                    <span class="blog-btn-text">READ</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="def-nav anim">
            <div class="def-arrow prev blog-prev">
              <img src="./images/icons/slider-arrow.svg" alt="slider arrow prev">
            </div>
            <div class="def-pag blog-pag"></div>
            <div class="def-arrow next blog-next">
              <img src="./images/icons/slider-arrow.svg" alt="slider arrow next">
            </div>
          </div>
        </div>
      </div>
    </div>
</section>