<section class="contact-section" id="contacts">
  <a class="btn-top anim" href="#">
    <img src="./images/icons/scroll-arrow.svg" alt="scroll-arrow">
  </a>
  <div class="container">
    <div class="content">
      <div class="text-block">
        <h2 class="title anim"><span>Let’s talk</span></h2>
        <p class="text anim">As a digital transformation consulting company, we share our experience to help others achieve outstanding results. In our blog, you can read about digital technologies, development trends, best practices, and much more.</p>
      </div>
      <div class="form-wrap">
        <form action="#">
          <div class="input-wrap left anim">
            <input class="input" type="text" placeholder="Name *">
          </div>
          <div class="input-wrap right anim">
            <input class="input" type="email" placeholder="Email *">
          </div>
          <div class="input-wrap textarea center anim">
            <textarea class="input" placeholder="Type your message  *"></textarea>
          </div>           
          <div class="btn-wrap">
            <a class="blog-btn anim" href="#">
              <span class="blog-btn-text">go telegram</span>
            </a>
            <div class="form-btn-wrap anim">
              <input class="form-btn" type="submit" value="send message">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>