<footer id="footer" class="anim">
    <a class="logo anim" href="#">
        <img src="./images/icons/logo.svg" alt="logo">
    </a>
    <div class="container">
        <div class="content">
            <nav class="menu-wrap show">
                <ul class="menu">
                    <li class="menu-item">
                        <a class="link link-close" href="#deliver">WE DELIVER</a>
                    </li>
                    <li class="menu-item">
                        <a class="link link-close" href="#expertise">EXPERTISE</a>
                    </li>
                    <li class="menu-item">
                        <a class="link link-close" href="#projects">OUR PROJECTS</a>
                    </li>
                    <li class="menu-item">
                        <a class="link link-close" href="#about">ABOUT US</a>
                    </li>
                    <li class="menu-item">
                        <a class="link link-close" href="#blog">blog</a>
                    </li>
                </ul>
                <div class="text-box">
                    <p class="text">© 2024 Slobitek®</p>
                    <a class="text text-link" href="#">Privacy and cookie policy</a>
                </div>
            </nav>
            <div class="links-wrap">
                <div class="soc-box">
                    <a class="text text-link f16" href="tell:+14158918605">+1 415 891 8605</a>
                    <div class="soc-links">
                        <a class="icon" href="#" target="_blank">
                            <img src="./images/icons/telegram.svg" alt="icon">
                        </a>
                        <a class="icon" href="#" target="_blank">
                            <img src="./images/icons/insta.svg" alt="icon">
                        </a>
                        <a class="icon" href="#" target="_blank">
                            <img src="./images/icons/linkedin.svg" alt="icon">
                        </a>
                    </div>
                </div>
                <div class="lang-box">
                    <a class="lang active" href="#">EN</a>
                    <a class="lang" href="#">UA</a>
                </div>
            </div>
        </div>
    </div>
</footer>