html {
    scroll-behavior: smooth;
    cursor:
        url(../images/icons/cursor.png) 45 45,
        pointer;
}

body {
    &.body_lock {
        overflow: hidden;
    }
}

#wrapper {
    position: relative;
    overflow: hidden;
}

.overflow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: $anim_03;

    .active & {
        z-index: 0;
        visibility: visible;
        opacity: 1;
    }
}

.overflow-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(12.4px);
    -webkit-backdrop-filter: blur(12.4px);
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: $anim_03;

    &.active {
        z-index: 2;
        visibility: visible;
        opacity: 2;
    }
}

.container {
    width: 100%;
    max-width: 1720px;
    padding: 0 40px;
    margin: 0 auto;

    @include media('<phone') {
        padding: 0 14px;
    }
}

.main-title {
    margin-bottom: 40px;
    text-align: center;
    font: $medium 80px / normal $Montserrat;
    color: rgba($white, 0.8);
    letter-spacing: 2px;
    text-shadow: $black 1px 1px 20px;
    user-select: none;
    transition: $anim_07 1s;

    @include media('<laptop') {
        font-size: 64px;
    }

    @include media('<tablet') {
        font-size: 38px;
    }

    @include media('<phone') {
        font-size: 24px;
        letter-spacing: 0;
    }
}

.title {
    position: relative;
    margin-bottom: 60px;
    font: $medium 60px / normal $Montserrat;

    @include media('<tablet') {
        padding-right: 40%;
        margin-bottom: 30px;
        font-size: 45px;
    }

    @include media('<phone') {
        font-size: 30px;
    }

    span {
        opacity: 0;
        transition: $anim_2;

        @include media('<tablet') {
            transition: $anim_03 0.7s;
        }
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        display: none;

        @include media('<tablet') {
            display: block;
        }
    }

    &::before {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $blueEA;
        transition: $anim_1;
    }

    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background: rgb(174, 20, 228);
        background: linear-gradient(
            270deg,
            rgba(174, 20, 228, 0) 0%,
            rgba(119, 86, 198, 1) 50%,
            rgba(85, 135, 235, 1) 100%
        );
        transition: $anim_1;
    }

    &.show {
        span {
            opacity: 1;
        }

        &::before {
            right: 35%;
        }

        &::after {
            width: 35%;
        }
    }
}

.main-btn {
    display: inline-block;
    position: relative;
    padding: 2px;
    border-radius: 30px;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: rotate(0deg) translate(-50%, -50%);
        transform-origin: 0 0;
        width: 105%;
        height: 105%;
        background: rgb(91, 128, 230);
        background: linear-gradient(
            90deg,
            rgba(91, 128, 230, 1) 0%,
            rgba(120, 88, 199, 1) 100%
        );
        z-index: -1;
        transition: $anim_1;
    }

    &:hover {
        span {
            background-color: transparent;
        }
    }

    span {
        display: block;
        padding: 12px 30px;
        text-align: center;
        font: $regular 16px / normal $Montserrat;
        text-transform: uppercase;
        color: $white;
        background-color: $blue1F;
        border-radius: 30px;
        transition: $anim_03;

        @include media('<phone') {
            font-size: 12px;
        }
    }
}

.close-btn {
    position: fixed;
    top: 15%;
    right: 15%;
    background: none;
    border: none;
    transition: $anim_03;

    @include media('<tablet') {
        top: 40px;
        right: 25px;
    }

    &:hover {
        transform: rotate(180deg);
    }

    svg {
        display: block;

        @include media('<tablet') {
            width: 25px;
            height: 25px;
        }
    }
}

.blog-btn {
    position: relative;

    .blog-btn-text {
        position: relative;
        display: block;
        padding: 15px 30px;
        border-radius: 60px;
        text-align: center;
        font: $regular 16px / normal $Montserrat;
        text-transform: uppercase;
        color: $white;
        overflow: hidden;
        background-color: rgba($white, 0.1);
        box-shadow: inset 0px 15px 20px -17px rgba(0, 0, 0, 0.75);

        @include media('<phone') {
            padding: 10px 30px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 0;
            height: 0;
            background: rgb(91, 128, 230);
            background: linear-gradient(
                90deg,
                rgba(91, 128, 230, 1) 0%,
                rgba(120, 88, 199, 1) 100%
            );
            z-index: -1;
            border-radius: 60px;
            transition: $anim_03 0.2s;
        }
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -70px;
        opacity: 0;
        transition: $anim_03;
    }

    &::before {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $blueEA;
    }

    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background: rgb(174, 20, 228);
        background: linear-gradient(
            90deg,
            rgba(174, 20, 228, 0) 0%,
            rgba(119, 86, 198, 1) 50%,
            rgba(85, 135, 235, 1) 100%
        );
    }

    $btnAnimSpeed: 0.5s;

    &:hover {
        &::before {
            animation: btnDotAnim $btnAnimSpeed ease forwards;
        }
        &::after {
            animation: btnLineAnim $btnAnimSpeed ease forwards;
        }

        .blog-btn-text {
            &::before {
                width: 105%;
                height: 105%;
            }
        }
    }

    @keyframes btnDotAnim {
        0% {
            opacity: 0;
            left: -70px;
        }
        50% {
            opacity: 1;
            left: 0px;
        }
        100% {
            opacity: 0;
            left: 0px;
        }
    }

    @keyframes btnLineAnim {
        0% {
            opacity: 0;
            width: 0;
        }
        50% {
            opacity: 1;
            width: 78px;
        }
        100% {
            opacity: 0;
            width: 78px;
        }
    }
}

.def-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 24px;
}

.def-arrow {
    cursor: pointer;
    transition: $anim_03;
    min-width: 30px;
    height: 30px;
    display: grid;
    place-items: center;

    &.prev {
        transform: rotate(-180deg);
    }

    &.swiper-button-disabled {
        opacity: 0;
        pointer-events: none;
    }

    img {
        display: block;
    }
}

.def-pag {
    display: flex;
    align-items: center;
    gap: 14px;
    max-width: max-content;

    .swiper-pagination-bullet {
        margin: 0 !important;
        width: 8px;
        height: 8px;
        border: 1px solid $white;
        transition: $anim_03;

        &.swiper-pagination-bullet-active {
            background-color: $white;
        }
    }
}

.info-block {
    display: flex;
    column-gap: 16px;
    row-gap: 14px;
    margin-bottom: 40px;

    @include media('<tablet') {
        display: none;
        position: absolute;
        left: 40px;
        bottom: 24px;
        flex-direction: column;
        margin: 0;
    }

    @include media('<phone') {
        left: 14px;
    }

    &.mob {
        display: none;

        @include media('<tablet') {
            display: flex;
        }
    }

    svg {
        @include media('<tablet') {
            height: 12px;
            width: 12px;
        }
    }

    .info-box {
        display: flex;
        align-items: center;
        gap: 19px;

        @include media('<tablet') {
            gap: 8px;
        }
    }

    .info-name {
        margin: 0;
        font: $regular 16px / normal $Montserrat;
        text-transform: uppercase;
        color: $white;

        @include media('<desktop_s') {
            font-size: 14px;
        }

        @include media('<phone') {
            font-size: 12px;
        }
    }
}

*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
}

*::-webkit-scrollbar-thumb {
    background: rgb(120, 88, 199);
    background: linear-gradient(
        0deg,
        rgba(120, 88, 199, 0.3) 0%,
        rgba(91, 128, 230, 0.3) 100%
    );
    border-radius: 30px;
    cursor: pointer;
}

*::-webkit-scrollbar-thumb:hover {
    background: rgb(120, 88, 199);
    background: linear-gradient(
        0deg,
        rgba(120, 88, 199, 0.3) 0%,
        rgba(91, 128, 230, 0.3) 100%
    );
}
